<html ng-app="sistemasOperacionais" xmlns="http://www.w3.org/1999/html">
<body ng-controller="indexController">
<head>
    <meta charset="utf-8" />
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">
    <title>Sistemas Operacionais - Tiago Morano</title>
</head>
</br>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Sistemas Operacionais - Configuracoes</b>
        </div>
        <div class="panel-body">
            <div class="col-md-1">
                <b>Algoritmo</b>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="algorithmSelected"
                        ng-options="algorithm for algorithm in algorithmOptions"></select>
            </div>
            <div class="col-md-1">
                <b>Cores</b>
            </div>
            <div class="col-md-1">
                <input class="form-control" type="number" ng-maxlength="" min="1" max="64" ng-model="cores" ng-blur="checkCores()">
            </div>
            <div class="col-md-2">
                <b>Processos</b>
            </div>
            <div class="col-md-1">
                <input class="form-control" type="number" min="0" ng-model="numberOfProcess" ng-blur="checkProcess()">
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" ng-click="iniciar()">Iniciar!</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Processadores</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-2" ng-repeat="core in coresArray track by $index">
                <div class="panel panel-default">
                    <div class="text-center panel-heading">
                        <b>Processador {{(coresArray.indexOf(core) + 1)}}</b>
                    </div>
                    <div class="text-center panel-body">
                        <img align="center" src="lib/images/cpu.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Processos</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>PID</th>
                    <th>Processo</th>
                    <th>Estado</th>
                    <th>Prioridade</th>
                    <th>Progresso</th>
                </tr>
                </thead>
                <tr ng-repeat="process in processArray track by $index">
                    <td>{{process.id}}</td>
                    <td>Processo {{$index + 1}}</td>
                    <td>{{process.processState}}</td>
                    <td>{{process.priority}}</td>
                    <td><uib-progressbar animate="true" value="process.completionPercent"  type="success"><b>{{process.completionPercent}}%</b></uib-progressbar></td>
                </tr>
            </table>
        </div>
    </div>


</div>


</body>

<script src="lib/js/angular.min.js"></script>
<script src="lib/js/jquery.js"></script>
<script src="lib/js/bootstrap.js"></script>
<script src="lib/js/ui-bootstrap-tpls-2.1.3.min.js"></script>
<script src="lib/js/moment.js"></script>
<script src="lib/js/toastr.min.js"></script>
<script src="app.js"></script>
<script src="controllers/indexController.js"></script>
<script src="controllers/RobinRoundController.js"></script>

<!-- Bootstrap Core CSS -->
<link href="lib/css/bootstrap.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<!-- Toastr CSS -->
<link href="lib/css/toastr.min.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="lib/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"
      type="text/css">
</html>