<div ng-show="processos().length">

    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size: 12px">Aptos</div>
        <div class="panel-body">
            <span>Aptos[0]:</span>
            <span ng-repeat="apto in getProcessos() | filter: filterNaoExecutando">{{apto.processo}} - {{apto.state}}</span>
            <br/>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size: 12px">{{titulo}}</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th ng-repeat="header in headers">{{header}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in processos()">
                    <td>{{row.pid}}</td>
                    <td>{{row.processo}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" style="font-size: 10px"
                                 ng-class="stateClass(row, 'progress-bar')" ng-style="setWidth(row)">
                                <span style="margin-top: -5px">{{row.progress}}%</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="margin-top: -5px">
                            <span class="label" ng-class="stateClass(row,'label')">{{row.state}}</span>
                        </div>
                    </td>
                    <td>{{row.prioridade}}</td>
                    <td>{{row.tempo === 0 ? row.tempoTotal : row.tempoTotal - row.tempo}}s</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" style="margin-top: -10px; margin-right: 0px" ng-click="addProccess()">Adicionar</a>
</div>